:root {
  --color-primary: #6a5acd;
  --color-primary-hover: #5a4abf;

  --color-white: #ffffff;
  --color-gray-light: #eeeeee;
  --color-gray: #cccccc;
  --color-gray-dark: #777777;
  --color-black: #000000;

  --color-success: #01bd78;

  --color-error: #d40019;
}
